.round-border {
	border: $border round
}

#filenames-list {
	width: 25%;
	margin-right: 2;
}

#left-column {
	width: 40%;
	margin-right: 2;
}

#right-column {
	align: center middle;
}

#album-art-fileselect {
	width: 50%;
	height: 30%;
}

#dialog {
	width: 50%;
	height: 30%;
	hatch: right $background 40%;
}
