.round-border {
	border: $border round
}

.center {
	align: center middle;
}

ListItem > Label {
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
}

#file-select {
	height: 70%;
	width: 90%;
}

#filenames-list {
	width: 25%;
	margin-right: 2;
}

#left-column {
	width: 40%;
	margin-right: 2;
}

#album-art {
	margin-bottom: 1;
}
